<template>
  <div>
    <div>
  <b-carousel
    id="carousel-no-animation"
    style="text-shadow: 0px 0px 2px #000"
    no-animation
    indicators
    img-width="1024"
    img-height="480"
  >
    <b-carousel-slide
      
      :img-src="URL+'/product-image/Artesania-01.png'"
    ></b-carousel-slide>
    <b-carousel-slide
      
      :img-src="URL+'/product-image/Artesania-02.png'"
    ></b-carousel-slide>
    <b-carousel-slide
      
      :img-src="URL+'/product-image/Artesania-03.png'"
    ></b-carousel-slide>
    
  </b-carousel>
</div>
</div>
</template>

<style scoped>
  #jb{
   
    background-color: rgb(67, 163, 228);
    color: #000;
  }
</style>

<script>
  export default {
    name:'Carousel',
    data() {
      return {
        slide: 0,
        sliding: null,
        URL:process.env.VUE_APP_URL_BASE
      }
    },
    methods: {
     
    }
  }
</script>