<template>
  <!-- Footer -->
  <div class="m-0">
  <div class="content"></div>
  <footer class="row mx-auto">
    <div class="sozial col-xs-12 col-sm-12 col-sm-push-12 mx-0 text-center">
      <ul class="row mx-0">
        <li class="col-xs-6 col-sm-2">
          <a href="#">
            <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_facebook-128.png">
          </a>
        </li>
        <li class="col-xs-6 col-sm-2">
          <a href="#">
            <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/twitter_online_social_media-128.png">
          </a>
        </li>
        <li class="col-xs-6 col-sm-2">
          <a href="#">
            <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media_photo-128.png">
          </a>
        </li>
        <li class="col-xs-6 col-sm-2">
          <a href="#">
            <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_google_plus-128.png">
          </a>
        </li>
      </ul>
    </div><!-- Ende Sozial media -->
   
  </footer>
</div>
  <!-- Footer -->
</template>
<style>

li
{
  list-style-type: none;
  margin-left: 1vw;
}

li:first-child
{
  margin:0;
}

footer
{
  padding-top: 5vh;
  padding-bottom: 2vh;
  background-color: rgb(233, 99, 166);
}


.content
{
  height: 50vh;
 
}


.copyright,  .impressum
{
  text-align: center;
}

.logo
{
  height: 8vh;
}

@media (max-width: 768px) 
{
  li
  {
    margin-left: 0;
    margin-bottom: 1vh;
  }
  
  .sozial
  {
    margin-bottom: 1vh;
  }
}
</style>
<script>
  
  export default {
    name: 'Footer',
   
  }
</script>