<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto mt-5">
            <Carousel/>
            <Products></Products>
        </div>
      </div>
    </div>
    
   
   
  </div>
</template>

<script>

import Carousel from './Carousel';
import Products from './Products.vue';

export default {
  name: 'Home',
  components: {   
    Carousel,
    Products
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
 
}
@import'~bootstrap/dist/css/bootstrap.css'
</style>
