<template>
    <div class="" id="bg">
    <section class="section section-shaped section-lg my-0 mt-0 ">
       
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <card type="primary" shadow
                          header-classes="bg-white pb-5"
                          body-classes="px-lg-5 py-lg-5"
                          class="border-0">
                       
                        <template>
                            <div class="text-center text-muted mb-4">
                                <small class="text-white">sign in with credentials</small>
                            </div>
                            <form role="form"  @submit="onSubmit">
                                <b-input alternative required
                                            v-model="form.email"
                                            class="mb-3"
                                            placeholder="Email"
                                            type="email"
                                            addon-left-icon="ni ni-email-83">
                                </b-input>
                                <b-input alternative required
                                            v-model="form.password"
                                            type="password"
                                            placeholder="Password"
                                            addon-left-icon="ni ni-lock-circle-open">
                                </b-input>
                               
                                <div class="text-center">
                                    <b-button type="submit" class="my-4">Sign In</b-button>
                                  
                                </div>
                                  <b-card  v-if="this.alert.status">
                                    <b-alert show  dismissible>
                                        {{this.alert.text}} <b>&rArr;</b>
                                    </b-alert>
                                </b-card>
                            </form>
                        </template>
                    </card>
                  
                </div>
            </div>
        </div>
    </section>
    </div>
</template>
<style>
    #bg{
       background-color: rgba(255,255, 244);
    }
</style>
<script>
import axios from 'axios';
export default {

    name:'Login',
    data(){
        return {
            form:{
                email:'',
                password:'',
                gethash:false
            },
          alert:{
              status:false,
              text:''
          }
        }
    },
        mounted(){
            this.getIdentity();
        },
     methods:{
         onSubmit(evt) {
       
      
        this.singin(this.form)
        evt.preventDefault()
        // alert(JSON.stringify(this.form))
      },
        singin(data){
            console.log(data);
            axios.post(`${process.env.VUE_APP_URL_BASE}/login`,data,{
                
            }).then(res=>{
                const identity=res.data.user;
                if(!res.data.user){
                    console.log(res.data.message);
                    this.alert.status=true;
                    this.alert.text=res.data.message;
                }else if(!identity._id){
                    
                     this.alert.status=true;
                    this.alert.text='El usuario no esta correctamente logeado';
                }else{
                    console.log(identity)
                    localStorage.setItem('identity', JSON.stringify(identity));
                    this.form.gethash=true;
                     axios.post(`${process.env.VUE_APP_URL_BASE}/login`,data,{
                
                     }).then(result=>{
                         // creamos el token en el localStorage
                         localStorage.setItem('token', JSON.stringify(result.data.token));
                         this.$router.push({path:'/'});
                         
                         console.log('Logeado con exito')
                         location.reload();
                     })
                }
                
            }).catch(error=>{
                console.log(error)
            })
        },
        getIdentity(){
             const identity = JSON.parse(localStorage.getItem('identity'));
              if (identity) {
                  this.$router.push({path:'/'});
                  console.log(identity)
              }
             
        }
    }
}

</script>