<template>
    <div>
  <b-navbar toggleable="lg"  id="nav" variant="dark">
     <router-link id="link" to="/">SHOP APP</router-link>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav v-if="this.identity">
        <router-link id="link"  to="/new-product">New Product</router-link>
       
      </b-navbar-nav>
    
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <!-- <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form> -->


        <!-- <b-nav-item-dropdown right> -->
          <!-- Using 'button-content' slot -->
          <!-- <template v-slot:button-content>
            <em>SING UP</em>
          </template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown> -->
         <b-navbar-nav v-if="!this.identity">
            <router-link to="/login">Login</router-link>
         </b-navbar-nav>
         <b-navbar-nav v-if="this.identity">
            <b-button variant="danger" v-on:click="logout">Logout</b-button>
         </b-navbar-nav>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<style >
    #link{
        color: #fff;
        text-decoration: none;
        padding:15px;
    }
    #nav{
      background-color: rgba(255, 124, 248, 0.308);
    }
</style>

<script>
  export default {
    name:'Navbar',
    data() {
      return{
        identity:null
      }
        
    },
     mounted(){
            this.getIdentity();
        },   
    methods: {
      logout(){
         localStorage.removeItem('identity');
        localStorage.removeItem('token');
        localStorage.clear();
         this.$router.push({path:'/'});      
        location.reload();
      },
      getIdentity(){
             this.identity = JSON.parse(localStorage.getItem('identity'));
            console.log(this.identity)
             
        }
    }
  }
</script>