<template>
  <div class="container mt-5">
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group
        id="input-group-1"
        label="Name Product:"
        label-for="input-1"
        label-align-sm="left"
        label-cols-sm="3"
      >
        <b-form-input
          id="input-1"
          v-model="form.name"
          type="text"
          name="name"
          required
          placeholder="Enter Name Product"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Description:" label-for="input-2" label-align-sm="left"
        label-cols-sm="3">
        <b-form-input
          id="input-2"
          v-model="form.description"
          name="description"
          required
          placeholder="Enter Description"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Price U$:" label-for="input-3" label-align-sm="left"
        label-cols-sm="3">
        <b-form-input
          id="input-2"
          v-model="form.price"
          name="price"
          required
          placeholder="Enter Price U$"
        ></b-form-input>
      </b-form-group>    

      <b-form-group label="Image :" id="" label-align-sm="left"
        label-cols-sm="3">
         <!-- Plain mode -->
            <b-form-file v-model="form.image" name="image" class="mt-3" ></b-form-file>
            <div class="mt-3">Selected file: {{ form.image ? form.image.name : '' }}</div>
      </b-form-group>

      <b-button type="submit" variant="primary">Save</b-button>

     
    </b-form>
    <b-card class="mt-3" header="" v-if="this.alert.status">
         <b-alert show  dismissible>
            {{this.alert.text}} <b>&rArr;</b>
        </b-alert>
    </b-card>
  </div>
</template>

<script>

import axios from 'axios';
  export default {
      name:'NewProduct',
    data() {
      return {
          form:{
            name: '',
            description: '',
            price: null,
            image:[]
          },
          alert:{
              status:false,
              text:''
          },
          identity:null,
        
        show: true
      }
    },
        mounted(){
            this.getIdentity();
        },
    methods: {
       
      onSubmit(evt) {
        let data = new FormData();
        data.append('image',this.form.image)
        data.append('name',this.form.name)
        data.append('description',this.form.description)
        data.append('price',this.form.price)
      
        this.postProduct(data)
        evt.preventDefault()
        // alert(JSON.stringify(this.form.image))
      },
      onReset() {
       
        // Reset our form values
        this.form.name = ''
        this.form.description = ''
        this.form.price = null
        this.form.image=null
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      },
    //   Guardar Productos
    postProduct(data){
       
            axios.post(`${process.env.VUE_APP_URL_BASE}/product`,data,{
                headers: {
                    "Content-Type": "multipart/form-data"
                }
            }).then(res=>{
                console.log(res)
                 if(res.data.post){
                    this.alert.status=true;
                    this.alert.text='Producto Ingresado con exito';
                    setTimeout(()=>{
                        this.alert.status=false;
                        this.onReset();
                    },2000)
                }else if(res.data.code==="LIMIT_FILE_SIZE"){
                     this.alert.status=true;
                    this.alert.text=res.data.message;
                    setTimeout(()=>{
                        this.alert.status=false;
                        this.onReset();
                    },2000)
                }
            })
        },
      getIdentity(){
             this.identity = JSON.parse(localStorage.getItem('identity'));
             if (!this.identity) {
                  this.$router.push({path:'/login'});
                 
              }
             
        }
    }
  }
</script>