<template>
  
<div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-6">
           <b-card id="b-card1"
            overlay
            :img-src="URL+'/product-image/'+this.todo.image"
            img-alt="Card Image"
            text-variant="white"
            
          >
            <b-card-text id="desc">
            
            </b-card-text>
          </b-card>
      </div>
      <div class="col-6 text-left">
           <h1>{{this.todo.name}}</h1>
           <hr>
           <div class="mb-2">
              <b-avatar id="start" icon="star-fill"></b-avatar>
              <b-avatar id="start" icon="star-fill"></b-avatar>
              <b-avatar id="start" icon="star-fill"></b-avatar>
              <b-avatar id="start" icon="star-fill"></b-avatar>
              <b-avatar id="start" icon="star-fill"></b-avatar>     
            </div>
            <hr>
             <h2>U$ {{this.todo.price}}</h2>
            <hr>
            <h2>{{this.todo.description}}</h2>
            <hr>
           
            
      </div>
       <div class="col-6">
                <b-button id="b1"><b-avatar id="b1" icon="credit-card"></b-avatar>Pay Now</b-button>
            </div>
             <div class="col-6">
                <b-button id="b2"><b-avatar id="b2" icon="cart-plus"></b-avatar>Add to Car</b-button>
            </div>
      </div>
  </div>
 

</div>

</template>

<style scoped>
#b1{
  
  background-color: rgb(41, 120, 224);
}
#b2{
  
  background-color: rgb(233, 99, 166);
}
  #desc{
    font-size: 2em;
    color:black;
  }
  #b-card1{
    font-size: 4em;
  }
  #start{
    color:yellow;
  }
</style>

<script>
import axios from 'axios';
export default {
    name:'Product-Detail',
    data() {
      return{
         URL:process.env.VUE_APP_URL_BASE,
        todo:null
      }
     
    },mounted(){
      this.getProduct();
    },
    methods: {
      getProduct(){
        try {
          const slug=this.$route.params.id
         
            axios.get(`${process.env.VUE_APP_URL_BASE}/product/${slug}`).then(res=>{
              console.log(res.data.product.image)
              this.todo=res.data.product
            })
        } catch (error) {
          console.log(error)
        }
      }
    }
}
</script>