<template>
    <div id="prod" >
       <div class="container">
           <div class="row">
               <div class="col-4"  v-for="t of todos" :key="t._id">
                   <div>
                    <b-card no-body class="overflow-hidden" style="max-width: 540px;">
                        <b-row no-gutters>
                        <b-col md="6">
                            <b-card-img :src="URL+'/product-image/'+t.image" :alt="URL+t.image" class="rounded-0"></b-card-img>
                             <b-button v-if="status" @click="deleteProduct(t._id)" variant="danger" class="mt-5">DELETE</b-button>
                        </b-col>
                      
                        <b-col md="6">
                            <b-card-body :title="t.name">
                            <b-avatar size="1em" icon="star-fill"></b-avatar>
                            <b-avatar size="1em" icon="star-fill"></b-avatar>
                            <b-avatar size="1em" icon="star-fill"></b-avatar>
                            <b-avatar size="1em" icon="star-fill"></b-avatar>
                            <b-avatar size="1em" icon="star-fill"></b-avatar>
                            <b-card-text>
                                <router-link :to="/product-detail/+t.slug">{{t.description}}</router-link>
                            </b-card-text>
                            U$: {{t.price}}
                          
                            </b-card-body>
                        </b-col>
                        </b-row>
                    </b-card>
                    </div>
                     <!-- <b-button v-if="this.status" @click="deleteProduct(t._id)" variant="danger" class="mt-5">DELETE</b-button> -->
               </div>
           </div>
       </div>
         
        
              
                
    </div>
               
       
</template>

<style scoped>
    #prod {
        margin-top: 20px;
        margin-bottom: 50px;
    }
</style>

<script>
import axios from 'axios';
export default {
    name:'Products',
    data(){
        return{
           
            status:null,
            todos:null,
            URL:process.env.VUE_APP_URL_BASE
           
        }
    },
    mounted(){
        
        this.getIdentity();
        console.log(this.status)
    },
    methods:{
        getProducts(){
            console.log('Lista de Productos')
            axios.get(`${process.env.VUE_APP_URL_BASE}/product`).then(res=>{
                console.log(res.data.product.docs);
                this.todos=res.data.product.docs;
            }).catch(error=>{
                console.log(error)
            })
        },
        deleteProduct(id){
            if(confirm('Do you want to delete it?')){
                 axios.delete(`${process.env.VUE_APP_URL_BASE}/product/${id}`).then(res=>{
                console.log(res);
                this.getProducts();
                
            }).catch(error=>{
                console.log(error)
            })
            }
           
        },
      getIdentity(){
             this.status = JSON.parse(localStorage.getItem('identity'));
             this.getProducts()
             console.log(this.status)
             
        }
    }

}
</script>