<template>
  <div id="app">
    <Navbar></Navbar>
   
    <router-view></router-view>
   <Footer></Footer>
  </div>
</template>

<script>

import Navbar from './components/Navbar.vue';
import Footer from './components/Footer.vue';

export default {
  name: 'App',
  components: {
    Navbar,
    Footer
  },
  mounted(){
    console.log(process.env.VUE_APP_PORT);
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
 
}
@import'~bootstrap/dist/css/bootstrap.css'
</style>
